@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
  background-color: #131313;
}

.title {
  color: white;
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-family: 'Rubik Glitch';
  font-size: 10vh;
  text-shadow: #000000 6px 5px 6px;
}

@media (max-width: 1200px) {
  header.title {
    font-size: 6rem;
  }
}

@media (max-width: 960px) {
  header.title {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  header.title {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  header.title {
    font-size: 3.6rem;
  }
}

@media (max-width: 599px) {
  header.title {
    font-size: 2.1rem;
  }
}